@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Kodchasan');
body {
    background-image: url(images/landscape-1.jpg);
    font-family: 'Kodchasan', sans-serif;

}
h1 {
    background-color: rgba(241, 250, 115, 0.7);
    color: #667c6b;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}
.drop-down {
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 24px;
    margin: 0;
    padding: 10px 35px;
}
.drop-down:hover {
    background-color: rgba(241, 250, 115, 0.7);
    border-radius: 30px;
}
.drop-down-content {
    display: none;
    position: relative;
    min-width: 160px;
    z-index: 1;
}
.drop-down-content a {
    text-align: center;
    display: block;
    color: black;
    padding: 5px;
}
.drop-down-content a:hover {
    background-color: rgba(241, 250, 115, 0.7);
    border-radius: 30px;
}
.drop-menu:hover .drop-down-content {
    display: block;
}
.contact:hover .show-contact-form {
    display: block;
}
.shaded-div {
    background-color: rgba(247, 218, 216, 0.6);
    box-sizing: border-box;
    height: 100vh;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 75%;
    z-index: 5;
}
label {
    display: block;
}
a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}
.social-links {
    display: inline-block;
    margin-top: 20px;
}
.hidden {
    display: none;
}
.unhidden {
    display: block;
}
.icon {
    width: 50px;
}